<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Dwscdv3.ima.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <Dwscdv3.ima.Properties.Settings>
            <setting name="DayStart" serializeAs="String">
                <value>07:00:00</value>
            </setting>
            <setting name="DayEnd" serializeAs="String">
                <value>21:00:00</value>
            </setting>
            <setting name="AutoLockScreen" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ColorGradientFull" serializeAs="String">
                <value>#FF32CD32</value>
            </setting>
            <setting name="ColorGradientEmpty" serializeAs="String">
                <value>#FFFF4500</value>
            </setting>
            <setting name="ColorAlert" serializeAs="String">
                <value>#FFD00000</value>
            </setting>
            <setting name="AlertThreshold" serializeAs="String">
                <value>0.9</value>
            </setting>
        </Dwscdv3.ima.Properties.Settings>
    </userSettings>
</configuration>